<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property> 
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wenzins</property> 
  <property name="hibernate.connection.username">root</property> 
  <property name="hibernate.connection.password">wenzins</property> 
  <property name="hibernate.hbm2ddl.auto">create-drop</property> 
  <property name="show_sql">true</property>
 
  
		<mapping class="com.wenzins.webhis.entity.Patient" />
		<mapping class="com.wenzins.webhis.entity.PatientAddress" />
		<mapping class="com.wenzins.webhis.entity.EmergencyContAddress" />
		<mapping class="com.wenzins.webhis.entity.Login" />
		<mapping class="com.wenzins.webhis.entity.Appointment" />
		<mapping class="com.wenzins.webhis.entity.Appointment" />
		<mapping class="com.wenzins.webhis.entity.DoctorDetails" />
		<mapping class="com.wenzins.webhis.entity.DepartmentDetails" />
		
	</session-factory>

</hibernate-configuration>